@import '@fontsource/geist-sans';
@import '@fontsource/geist-mono';
@import 'tailwindcss';

@theme {
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
}

@layer utilities {
  .bg-grid-light {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  }
  
  .bg-grid-dark {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  }
  
  .bg-radial-vignette-light {
    background: radial-gradient(circle at center, transparent 0%, rgba(250, 250, 250, 1) 100%);
  }

  .bg-radial-vignette-dark {
    background: radial-gradient(circle at center, transparent 0%, rgba(9, 9, 11, 1) 100%);
  }
}
